.mantine-AppShell-body{
  flex-grow: 1;
}
.mantine-Modal-inner{
padding: 5px 10px;
}
.pointer:hover{
  cursor: pointer;
}
i{
  font-size: 40px;
}
.imgs img{
  width: 90px;
  margin-bottom: 10px;
}
img{
  animation: fadeInDown 1s;
}
h1{
  animation: fadeInDown 1s;
}
@keyframes fadeInDown{
  from{
    opacity: 0.1;
    transform: translateY(-50%);
  }to{
    opacity: 1;
    transform: translateY(0%);
  }
}